Django
django-crispy-forms
crispy-bootstrap5
django-autoslug
django-autoslug-field
django-environ
django-email
psycopg2
mysql-connector-python
sqlparse
certifi
requests
lxml
pillow
debugpy
ipython
pytz
tzdata
beautifulsoup4
bs4
